/* Main file that points to the individual css files */

@import "normalize.css";
@import "base/_global";
@import "base/_variables";
@import "modules/_large-hero";
@import "modules/_btn";


/* Dummy css for gulp (Part 4)
$mainBlue: #2f5572;

body {
	color: $mainBlue;
	padding: 25px;
	margin: 10px;
	columns: 300px 2;
}

.box {
	a {
		display: block;
		padding: 10px;
	}
}
*/